body{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    margin: 0px;
}
header{
    height: 618px;
    margin: 10px;
    text-align: center;
}
aside{
    background-color: powderblue;
    font-size: 105%;
    padding: 15px;
    margin: 0px 10px 10px 650px;

}
#main{
    background-color: powderblue;
    font-size: 105%;
    padding: 15px;
    margin: 0px 130px 10px 10px;
    width: 594px;
    float: left;

}
.text{
    text-align: center;
    font-size: 1.5em;

}
.type{
    color: lightcoral;
}
footer{
     background-color: cornflowerblue;
    text-align: center;
    padding: 15px;
    margin: 10px;
    font-size: 90%;
    clear: left;
}
h1{
    font-size: 120%;
    color: black;
}
a.link{
    color: palevioletred;
}
a.visited{
    color: darkcyan;
}
#allcontent{
    margin: 0 auto;
    width: 1100px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: wheat;
}