body{
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6em;
}
h1,h2{
    color: #007e7e;
}
h1{
    font-size: 150%;
}
h2{
    font-size: 130%;
}
#guarantee{
    line-height: 1.9em;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #444444;
    border-width: 1px;
    border-style: dashed;
    border-color: white;
    width: 500px;
    background-color: #a7cece;
    padding: 25px;
    padding-left: 80px;
    margin: 30px;
    margin-right: 250px;
    background-image: url(images/start.png);
    background-repeat: no-repeat;
    background-position: top left;
}
.cd{
    font-style: italic;
}
.artist{
    font-weight: bold;
}
a:link{
    color: lightgreen;
}
a:visited{
    color: red;
}
a:hover{
    color: yellow;
}
#elixirs h1,h2{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
#elixirs h2{
    color: orangered;
}
#elixirs{
    line-height: 1.5em;
}
p{
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
p.greentea{
    color: green;
}
p.raspberry{
    color: burlywood;
}
p.blueberry{
    color: blue;
}
#elixirs{
    border-style: dashed;
    border-width: thin;
    border-color: #007e7e;
    width: 200px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 60px;
    margin-left: 100px;
    text-align: center;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    float: right;
}
#elixirs a:link{
    color: #007e7e;
}
#elixirs a:visited{
    color: #333333;
}
#elixirs a:link{
    background: #f88396;
    color: #0d5353;
}