
#elixirs h1,h2{
    font-size: x-larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
#elixirs h2{
    color: orangered;
}
#elixirs{
    line-height: 1.5gtem;
}
p{
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
p.greentea{
    color: green;
}
p.raspberry{
    color: burlywood;
}
p.blueberry{
    color: blue;
}
#elixirs{
    border-style: dashed;
    border-width: thin;
    border-color: #007e7e;
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 220px;
    margin-left: 320px;
    margin-right: 320px;
    text-align: center;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    float: right;
}
#elixirs a:link{
    color: #007e7e;
}
#elixirs a:visited{
    color: #333333;
}
#elixirs a:link{
    background: #f88396;
    color: #0d5353;
}
